vendor/
node_modules/
.env
.env.example
.env.backup
.env.production
storage/logs/
.git/
.git/*
tests/
.DS_Store
Thumbs.db
*.md
!README.md
docker/*
!docker/nginx/coolify.conf
!docker/supervisord.conf
!docker/php/uploads.ini
*.log
.phpunit.result.json
composer.phar
npm-debug.log
yarn-error.log
.idea/
.vscode/
*.swp
*.swo